/node_modules
/public/css
/public/fonts
/public/hot
/public/img
/public/js
/public/media
/public/storage
/public/video
/storage/*.key
/vendor
/.docker-sync
/.idea
/.vscode
/.vagrant
.DS_Store
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
phpstan.neon
redirects-en.php
redirects-hu.php
yarn-error.log
