.cta {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -30px -15px;
    padding: 60px 30px;
    text-align: center;

    @include tablet() {
        margin: -60px -15px;
    }

    @include desktop() {
        margin: -90px -15px;
    }

    &.cta--profile {
        background-image: url(../img/company-profile-bg.jpg);

        @include desktop() {
            background-image: url(../img/company-profile-bg-md.jpg);
        }

        @include widescreen() {
            background-image: url(../img/company-profile-bg-lg.jpg);
        }
    }

    &.cta--projects {
        background-image: url(../img/projects-bg.jpg);

        @include desktop() {
            background-image: url(../img/projects-bg-md.jpg);
        }

        @include widescreen() {
            background-image: url(../img/projects-bg-lg.jpg);
        }
    }

    &.cta--services {
        background-image: url(../img/services-bg.jpg);

        @include desktop() {
            background-image: url(../img/services-bg-md.jpg);
        }

        @include widescreen() {
            background-image: url(../img/services-bg-lg.jpg);
        }
    }

    &.cta--tech-stack {
        background-image: url(../img/tech-stack-bg.jpg);

        @include desktop() {
            background-image: url(../img/tech-stack-bg-md.jpg);
        }

        @include widescreen() {
            background-image: url(../img/tech-stack-bg-lg.jpg);
        }
    }

    .heading-2 {
        color: $white;
        margin-bottom: 15px;

        @include tablet() {
            margin-bottom: 30px;
        }
    }
}
