.hero {
    background: url(../img/hero-bg.jpg) center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    margin-top: -80px;
    padding: 95px 0 15px;

    @include desktop() {
        background: url(../img/hero-bg-md.jpg) center center / cover no-repeat;
        left: 0;
        margin-top: 0;
        min-height: 500px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }

    @include widescreen() {
        background: url(../img/hero-bg-lg.jpg) center center / cover no-repeat;
    }

    @include fullhd() {
        padding: 45px 0;
    }

    @media screen and (min-height: 910px) {
        max-height: 800px;
    }

    &::before {
        background-color: rgba(mix($cobalt, $grey-darker, 70%), .9);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    &__cta {
        color: $white;
        display: block;
        font: 600 12px / 1.5 $family-highlight;
        margin-top: 45px;
        position: relative;
        text-align: center;
        z-index: 15;

        @include tablet() {
            font-size: 14px;
        }

        @include desktop() {
            font-size: 16px;
            margin-top: 12.5%;
        }

        @include widescreen() {
            margin-top: 10%;
        }

        &:hover {
            color: $white;
        }

        strong {
            display: block;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;

            @include tablet() {
                font-size: 30px;
            }

            @include desktop() {
                font-size: 32px;
            }
        }
    }

    &__scroll {
        border: 2px solid $white;
        border-radius: 30px;
        cursor: pointer;
        display: none;
        height: 50px;
        margin: 30px auto 0;
        position: relative;
        width: 30px;
        z-index: 15;

        @include desktop() {
            display: block;
        }

        &::after {
            animation: scroll 3s 1s infinite;
            background-color: $white;
            border-radius: 100%;
            content: '';
            display: block;
            height: 5px;
            left: 50%;
            position: absolute;
            top: 10px;
            transform: translateX(-50%);
            width: 5px;
        }
    }

    &__tagline {
        align-items: center;
        color: $white;
        display: flex;
        flex-direction: column;
        font: 18px / 1.5 $family-highlight;
        justify-content: center;
        margin: 15px auto 0;
        padding: 0 15px;
        position: relative;
        text-align: center;
        z-index: 15;

        @include tablet() {
            font-size: 24px;
            width: 75%;
        }

        @include desktop() {
            margin-top: 10%;
        }

        @include widescreen() {
            font-size: 28px;
            margin-top: 7.5%;
        }

        @include fullhd() {
            font-size: 36px;
        }

        strong {
            animation: blink-caret 1s step-end infinite;
            border-right: 3px solid $white;
            display: block;
            font-size: 28px;
            height: 30px;
            line-height: 1.1;
            overflow: hidden;
            padding: 0 10px;
            white-space: nowrap;

            @include tablet() {
                font-size: 32px;
                height: 35px;
            }

            @include widescreen() {
                font-size: 40px;
                height: 44px;
            }

            @include fullhd() {
                font-size: 54px;
                height: 60px;
            }
        }
    }
}

@keyframes blink-caret {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: $white;
    }
    100% {
        border-color: transparent;
    }
}

@keyframes scroll {
    0%   {
        opacity: 1;
        top: 10px;
    }
    20% {
        opacity: 1;
        top: 20px;
    }
    40%, 100% {
        opacity: 0;
        top: 20px;
    }
}
