.project {
    &__gallery {
        background: url(../img/gallery-bg.jpg) center center / cover no-repeat;
        margin: -30px -15px;
        padding: 60px 30px;
        text-align: center;

        @include tablet() {
            margin: -60px -15px;
        }

        @include desktop() {
            background: url(../img/gallery-bg-md.jpg) center center / cover no-repeat;
            margin: -90px -15px;
        }

        @include widescreen() {
            background: url(../img/gallery-bg-lg.jpg) center center / cover no-repeat;
        }

        .heading-2 {
            color: $white;
            margin-bottom: 15px;

            @include tablet() {
                margin-bottom: 30px;
            }
        }
    }

    &__stat {
        &__main {
            color: $grey-darker;
            display: block;
            font: 600 68px / 1 $family-highlight;
        }

        &__sub {
            color: $grey-darker;
            display: block;
            font: 600 18px / 1 $family-highlight;
        }
    }

    &__stats {
        background: url(../img/stats-bg.jpg) center center / cover no-repeat;
        color: $white;
        margin: -30px -15px;
        padding: 60px 30px 30px;
        text-align: center;

        @include tablet() {
            margin: -60px -15px;
        }

        @include desktop() {
            background: url(../img/stats-bg-md.jpg) center center / cover no-repeat;
            margin: -90px -15px;
        }

        @include widescreen() {
            background: url(../img/stats-bg-lg.jpg) center center / cover no-repeat;
        }

        &__description {
            display: block;
            font: 600 16px / 1 $family-highlight;

            @include desktop() {
                font-size: 18px;
            }
        }

        &__number {
            display: block;
            font: 600 54px / 1 $family-highlight;

            @include desktop() {
                font-size: 68px;
                margin-bottom: 15px;
            }

            small {
                font-size: 38px;

                @include desktop() {
                    font-size: 44px;
                }
            }
        }
    }

    &__summary {
        color: $grey-darker;
        font-size: 16px;
        font-style: italic;

        @include desktop() {
            font-size: 20px;
        }

        &__heading {
            font: 700 normal 24px $family-highlight;
            margin-bottom: 30px;

            @include tablet() {
                font-size: 30px;
            }

            @include desktop() {
                font-size: 40px;
                margin-bottom: 45px;
            }
        }
    }

    &__tech-stack {
        &__list {
            @include tablet() {
                margin: 0 -15px;
            }

            li {
                line-height: 14px;
                margin-bottom: 10px;

                @include tablet() {
                    background: url(../img/technology-stack-bg.png) 0 0 no-repeat;
                    color: $white;
                    display: inline-block;
                    font: 600 18px / 153px $family-highlight;
                    height: 153px;
                    margin: 0 15px 30px;
                    text-align: center;
                    text-transform: uppercase;
                    width: 138px;
                }

                &::before {
                    background: url(../img/bullets.png) 0 50% no-repeat;
                    content: '';
                    display: inline-block;
                    height: 14px;
                    margin-right: 15px;
                    vertical-align: -2px;
                    width: 10px;

                    @include tablet() {
                        content: none;
                    }
                }
            }
        }
    }

    &__testimonial {
        background: url(../img/testimonial-bg.jpg) center center / cover no-repeat;
        color: $white;
        margin: -30px -15px;
        padding: 60px 15px;
        text-align: center;

        @include tablet() {
            margin: -60px -15px;
        }

        @include desktop() {
            background: url(../img/testimonial-bg-md.jpg) center center / cover no-repeat;
            margin: -90px -15px;
        }

        @include widescreen() {
            background: url(../img/testimonial-bg-lg.jpg) center center / cover no-repeat;
        }

        &__author {
            font-style: normal;
            font-weight: 700;
        }

        &__content {
            border: none;
            font-size: 16px;
            margin: 0;
            text-align: left;

            @include tablet() {
                float: right;
                width: calc(100% - 155px);
            }
        }

        &__picture {
            margin-bottom: 30px;

            @include tablet() {
                float: left;
                margin-bottom: 0;
                margin-right: 30px;
            }
        }
    }
}
