@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
.about {
    &__team {
        &__member {
            margin-bottom: 30px;
            text-align: center;

            &__name {
                color: $grey-darker;
                font: 700 16px / 1 $family-highlight;
                text-transform: uppercase;

                @include tablet() {
                    font-size: 20px;
                }
            }

            &__picture {
                -webkit-filter: grayscale(1);
                filter: grayscale(1);
                margin-bottom: 15px;
                width: 138px;

                &:hover {
                    -webkit-filter: grayscale(0);
                    filter: none;
                }

                @include desktop() {
                    margin-bottom: 30px;
                }
            }

            &__title {
                font: 12px / 1 $family-highlight;
                margin-bottom: 30px;
                text-transform: uppercase;

                @include tablet() {
                    font-size: 16px;
                }
            }
        }
    }
}
