.banner {
    background-color: $cobalt;
    margin: -30px -15px;
    padding: 50px 30px 60px;
    text-align: center;

    @include tablet() {
        margin: -60px -15px;
    }

    @include desktop() {
        margin: -90px -15px;
    }

    &::before {
        background: url(../img/banner-background.jpg) top center / cover no-repeat;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: .1;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 5;
    }

    &--contact {
        & > div {
            display: flex;
            justify-content: center;
        }

        a {
            font: 400 18px / 1.5 $family-highlight;
            line-height: 1.5;

            @include tablet() {
                font-size: 20px;
            }

            @include desktop() {
                font-size: 24px;
            }
        }

        .tel a {
            color: $white;
        }

        .social-icons {
            margin-top: 30px;
        }
    }

    &--laravel-meetup {
        align-items: flex-start;
        background-color: $laravel;
        background-image: none;
        display: flex;
        flex-direction: column-reverse;
        margin: -30px -15px 0;
        padding: 0;

        @include tablet() {
            align-items: center;
            flex-direction: row;
            margin: -60px -15px 0;
        }

        @include desktop() {
            margin: -90px -15px 0;
        }

        .heading-3 {
            align-self: center;
            color: $white;
            margin-top: 15px;
            padding: 0 15px;

            @include tablet() {
                margin: 0;
            }

            @include widescreen() {
                max-width: 30%;
            }
        }
    }

    .container {
        position: relative;
        z-index: 10;
    }

    .heading-2 {
        color: $white;
        margin-bottom: 15px;

        @include tablet() {
            margin-bottom: 30px;
        }
    }
}
