@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "sass:color";

.hero {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    margin-top: -80px;
    position: relative;

    @include tablet() {
        height: 400px;
    }

    @include desktop() {
        left: 0;
        margin-top: 0;
        height: 600px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }

    @include fullhd() {
        left: 0;
        margin-top: 0;
        height: 750px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }

    &::before {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    &--background-1:before {
        background-image: url(../../img/hero-background-1.jpg);
    }

    &--background-2:before {
        background-image: url(../../img/hero-background-2.jpg);
    }

    &.is-cobalt {
        background-color: $cobalt;

        &::before {
            content: '';
            opacity: .1;
        }
    }

    &.is-pearl {
        background-color: $pearl;

        &::before {
            content: '';
            opacity: .05;
        }
    }

    &.is-raspberry {
        background-color: color.mix($raspberry, $black, 90%);

        &::before {
            content: '';
            opacity: .1;
        }
    }

    &.is-tangerine {
        background-color: $tangerine;

        &::before {
            content: '';
            opacity: .05;
        }
    }

    &__cta {
        bottom: 15px;
        color: $white;
        font: 600 12px / 1.5 $family-highlight;
        left: 50%;
        position: absolute;
        text-align: center;
        transform: translateX(-50%);
        z-index: 15;

        @include tablet() {
            font-size: 14px;
        }

        @include desktop() {
            bottom: 100px;
            font-size: 16px;
        }

        &:hover {
            color: $white;
        }

        strong {
            display: table;
            font-size: 24px;
            font-weight: 700;
            margin: 0 auto;
            text-transform: uppercase;

            @include tablet() {
                font-size: 30px;
            }

            @include desktop() {
                font-size: 32px;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                background-color: $white;
                content: '';
                display: block;
                height: 3px;
                margin: 0 auto;
                transition: all .2s ease-in-out;
                width: 0;
            }
        }
    }

    &__form {
        bottom: 15px;
        color: $white;
        font: 600 12px / 1.5 $family-highlight;
        left: 50%;
        max-width: 600px;
        padding: 15px 0;
        position: absolute;
        text-align: center;
        transform: translateX(-50%);
        width: calc(100% - 60px);
        z-index: 15;

        @include tablet() {
            bottom: 30px;
            font-size: 14px;
        }

        @include desktop() {
            bottom: 20%;
            font-size: 16px;
        }

        .form-control {
            font-size: 24px;
            margin-top: 10px;
            text-align: center;
        }

        .form-group.has-error {
            .form-control {
                background-color: rgba($white, .75);
            }
        }
    }

    &__scroll {
        border: 2px solid $white;
        border-radius: 30px;
        bottom: 30px;
        cursor: pointer;
        display: none;
        height: 50px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 30px;
        z-index: 15;

        @include desktop() {
            display: block;
        }

        &::after {
            animation: scroll 3s 1s infinite;
            background-color: $white;
            border-radius: 100%;
            content: '';
            display: block;
            height: 5px;
            left: 50%;
            position: absolute;
            top: 10px;
            transform: translateX(-50%);
            width: 5px;
        }
    }

    &__video {
        z-index: 15;

        &__thumb {
            display: block;
            left: 50%;
            margin: 15px 0 0;
            max-width: 230px;
            position: relative;
            transform: translateX(-50%);

            @include tablet() {
                max-width: 350px;
            }

            @include desktop() {
                margin-bottom: 10%;
                max-width: 500px;
            }

            @include widescreen() {
                margin-bottom: 5%;
            }

            &::after {
                background: url(../../img/icon-play.png) center center / 20px 20px no-repeat rgba($pearl, .95);
                border-radius: 100%;
                content: '';
                height: 50px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: .4s all ease-in;
                width: 50px;

                @include tablet() {
                    background-size: auto;
                    height: 75px;
                    width: 75px;
                }
            }

            &:hover {
                &::after {
                    background-color: $pearl;
                }
            }

            img {
                max-width: 100%;
            }
        }
    }

    & + .section {
        margin-top: 300px;

        @include tablet() {
            margin-top: 400px;
        }

        @include desktop() {
            margin-top: 625px;
        }

        @include fullhd() {
            margin-top: 800px;
        }
    }

    .hero-heading {
        color: $white;
        margin: 15px auto 0;
        padding: 0 15px;
        position: relative;
        z-index: 15;

        @include desktop() {
            margin-bottom: 10%;
        }

        @include widescreen() {
            margin-bottom: 5%;
        }
    }
}

@keyframes scroll {
    0%   {
        opacity: 1;
        top: 10px;
    }
    20% {
        opacity: 1;
        top: 20px;
    }
    40%, 100% {
        opacity: 0;
        top: 20px;
    }
}
