@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
.project-list {
    &__featured {
        color: $white;
        display: block;
        margin-bottom: 30px;
        overflow: hidden;
        padding: 30px 0 15px;
        position: relative;

        @include desktop() {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

        &:hover {
            color: $white;
        }

        &.is-reversed {
            flex-direction: row-reverse;

            .project-list__featured__image {
                float: none;
            }
        }

        &__background {
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        &__content {
            padding: 15px;

            @include desktop() {
                padding: 60px;
            }
        }

        &__description {
            font-size: 16px;
            margin-bottom: 30px;

            @include desktop() {
                font-size: 18px;
                margin-bottom: 60px;
            }
        }

        &__image {
            float: right;
            margin-top: 30px;
            max-height: 200px;

            @include tablet() {
                max-height: 300px;
            }

            @include desktop() {
                float: none;
                margin-top: 0;
                max-height: none;
            }
        }

        &__subtitle {
            font: 500 16px / 1.5 $family-highlight;
            margin: -5px 0 15px;
            text-transform: uppercase;

            @include desktop() {
                font-size: 20px;
            }
        }

        &__title {
            font: 700 24px / 1 $family-highlight;
            margin-bottom: 15px;

            @include desktop() {
                font-size: 36px;
            }
        }
    }

    &__item {
        background-color: $white;
        box-shadow: 1px 1px 3px 0 rgba($black, .15);
        color: $grey-darker;
        display: block;
        padding-bottom: 30px;

        &:hover {
            color: $grey-darker;
        }

        &__description {
            color: $grey-darker;
            font-size: 16px;
            padding: 0 30px;
        }

        &__image {
            margin-bottom: 30px;
            width: 100%;
        }

        &__title {
            font: 600 18px / 1 $family-highlight;
            margin-bottom: 15px;
            padding: 0 30px;
            text-transform: uppercase;
        }
    }
}
