.project {
    &__banner {
        border-top: 5px solid $white;
        color: $white;
        display: block;
        font-size: 18px;
        font-weight: 600;
        margin: -30px -15px;
        padding: 15px;
        text-transform: uppercase;

        @include tablet() {
            font-size: 20px;
            padding: 0 15px;
            margin: -60px -15px;
        }

        @include desktop() {
            font-size: 24px;
            margin: -90px -15px;
        }

        &:hover {
            color: $white;
        }

        img {
            height: 50px;
            margin-top: 15px;

            @include tablet() {
                margin-top: 0;
            }
        }

        &--centralized {
            background-color: #202226;

            img {
                height: 40px;
            }
        }

        &--harborsz {
            background-color: #cf301b;
        }

        &--kompozit {
            background-color: #4f46e5;

            img {
                height: 30px;
            }
        }

        &--njoy {
            background-color: #f99b0c;
        }

        &--opl {
            background-color: #d7d2ca;
            color: $black;

            &:hover {
                color: $black;
            }

            img {
                height: 25px;
            }
        }

        &--ovsz {
            background-color: #e5173f;
        }

        &--pestcast {
            background-color: #95c8a1;

            img {
                height: 30px;
            }
        }

        &--pg {
            background-color: #1b5eaa;
        }

        &--steiger {
            background-color: #254f51;

            img {
                height: 40px;
            }
        }

        .container {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include tablet() {
                flex-direction: row;
                height: 110px;
            }
        }
    }

    &__contact {
        margin: -30px -15px;
        padding: 60px 15px;
        text-align: center;

        @include tablet() {
            margin: -60px -15px;
            padding: 90px 15px;
        }

        @include desktop() {
            margin: -90px -15px;
            padding: 120px 15px;
        }

        .heading-1 {
            color: $white;
        }

        .btn {
            border: 2px solid $white;
            background-color: transparent;
            color: $white;

            &:hover {
                background-color: rgba($white, .15);
            }
        }
    }

    &__gallery {
        display: block;
        margin: -30px -15px;
        position: relative;

        @include tablet() {
            margin: -60px -15px;
        }

        @include desktop() {
            margin: -90px -15px;
        }

        .btn {
            background-color: $white;
            bottom: 60px;
            box-shadow: 0 5px 10px rgba($black, .5);
            color: $black;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }

        img {
            min-height: 200px;
            object-fit: cover;
            width: 100%;
        }
    }

    &__gallery-modal {
        padding: 15px 15px 60px;

        @include tablet() {
            padding: 30px 15px 60px;
        }

        @include desktop() {
            padding: 60px 0;
        }

        &__description {
            color: $white;
            font-size: 14px;
            text-align: justify;

            @include desktop() {
                font-size: 16px;
            }
        }

        &__image {
            @include desktop() {
                margin-bottom: 90px;
            }
        }

        &__notes {
            margin-bottom: 60px;

            @include desktop() {
                margin-bottom: 90px;

                &.is-reversed {
                    &::before {
                        margin-left: auto;
                        transform: scaleX(-1);
                    }

                    .project__gallery-modal__title {
                        text-align: right;
                    }
                }
            }

            &::before {
                background: url(../img/project-gallery-arrows.png) center center no-repeat;
                content: '';
                display: block;
                height: 50px;
                margin: 5px 0 15px;
                transform: rotate(90deg);
                width: 40px;

                @include desktop() {
                    transform: none;
                }
            }
        }

        &__title {
            color: $white;
            font: 700 18px / 1 $family-highlight;
            margin-bottom: 15px;

            @include desktop() {
                font-size: 24px;
            }
        }

        .btn {
            margin: 0 auto;
        }
    }

    &__intro {
        color: $white;
        font-size: 18px;
        padding: 0 15px;
        position: relative;
        text-align: center;
        z-index: 5;

        @include tablet() {
            font-size: 24px;
            padding: 0 30px;
        }

        @include desktop() {
            font-size: 30px;
            max-width: $desktop - 40px;
            padding: 0 60px;
        }
    }

    &__logo {
        margin: 0 auto;
        max-height: 200px;
        max-width: 300px;
    }

    &__stat {
        align-items: center;
        display: flex;
        font-size: 18px;
        height: 100px;
        padding-left: 100px;
        position: relative;

        @include tablet() {
            margin-right: 30px;
        }

        &.is-downward {
            &::before {
                top: 25px;
                transform: rotate(180deg);
            }

            span {
                left: 30px;
            }
        }

        &::before {
            background-position: center center;
            background-repeat: no-repeat;
            content: '';
            height: 75px;
            left: 0;
            position: absolute;
            top: 0;
            width: 93px;
            z-index: 5;
        }

        small {
            font-size: 16px;
        }

        span {
            color: $white;
            display: block;
            left: 18px;
            letter-spacing: -2px;
            font-size: 24px;
            font-weight: 600;
            position: absolute;
            text-align: center;
            top: 30px;
            width: 45px;
            z-index: 10;
        }
    }

    &__stats {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        @include tablet() {
            align-items: flex-start;
            flex-direction: row;
        }
    }

    &__summary {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;
        font: italic 16px $family-highlight;
        margin: -30px -15px;
        padding: 30px 15px;

        @include tablet() {
            font-size: 24px;
            margin: -60px -15px;
            padding: 60px 15px;
        }

        @include desktop() {
            font-size: 30px;
            margin: -90px -15px;
            padding: 90px 15px;
        }
    }

    &__testimonial {
        padding: 0 15px;
        text-align: center;

        &__author {
            color: $black;
            display: block;
            font: 600 18px $family-highlight;
        }

        &__content {
            color: $cobalt;
            font: italic 16px $family-body;
            margin-top: 30px;

            @include tablet() {
                font-size: 20px;
            }
        }

        &__picture {
            width: 138px;
            margin-bottom: 15px;
        }

        &__title {
            color: $grey-dark;
            display: block;
            font: 18px $family-highlight;
        }
    }

    &__text-emphasis {
        display: block;
        font: normal 600 16px / 1 $family-highlight;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    &__title {
        color: $white;
        font: 600 14px / 1 $family-highlight;
        margin: 90px 0 5px;
        padding: 0 15px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        z-index: 5;

        @include tablet() {
            font-size: 16px;
            padding: 0 30px;
        }

        @include desktop() {
            font-size: 18px;
            margin: 120px 0 15px;
            padding: 0 60px;
        }
    }
}
