.services {
    &__animated {
        display: inline-block;
        max-width: 500px;
        position: sticky;
        right: 0;
        top: 100px;
        transition: .5s all ease-out;
        transform-origin: center center;
        width: 100%;

        &.is-rotated-0 {
            & > div.services__animated--strategy-and-research {
                border-color: $pearl;
                z-index: 5;

                &::after {
                    background: url(../img/pattern-pearl.png) 0 0 / 50% repeat $white;
                    opacity: 1;
                }
            }
        }

        &.is-rotated-120 {
            transform: rotate(120deg);

            & > div.services__animated--ux-research-and-design {
                border-color: $tangerine;
                z-index: 5;

                &::after {
                    background: url(../img/pattern-tangerine.png) 0 0 / 45% repeat $white;
                    opacity: 1;
                }
            }
        }

        &.is-rotated-240 {
            transform: rotate(240deg);

            & > div.services__animated--digital-product-development {
                border-color: $raspberry;
                z-index: 5;

                &::after {
                    background: url(../img/pattern-raspberry.png) 0 0 / 40% repeat $white;
                    opacity: 1;
                }
            }
        }

        &::before {
            content: '';
            display: block;
            margin-top: 100%;
        }

        & > div {
            border: 2px solid $grey-darker;
            border-radius: 100%;
            padding: 15px;
            position: absolute;

            &::after {
                border-radius: 100%;
                content: '';
                display: block;
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                transition: .5s all ease-out;
                width: 100%;
            }
        }

        &--digital-product-development {
            height: 62.4%;
            right: 0;
            top: 2.9%;
            width: 62.4%;
        }

        &--strategy-and-research {
            height: 48.3%;
            left: 0;
            top: 7.8%;
            width: 48.3%;
        }

        &--ux-research-and-design {
            bottom: 2.9%;
            height: 54.2%;
            left: 13.6%;
            width: 54.2%;
        }
    }

    &__outcome {
        background-color: $grey-lighter;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba($black, .1);
        display: table;
        font-size: 12px;
        margin-bottom: 60px;
        padding: 5px 10px 0;

        & > span {
            background-color: $white;
            border-radius: 5px;
            display: inline-block;
            font-size: 14px;
            margin-bottom: 5px;
            padding: 5px 10px;
        }
    }

    &__static {
        display: inline-block;
        left: 50%;
        max-width: 500px;
        position: relative;
        transform: translateX(-50%);
        width: 100%;

        &::before {
            content: '';
            display: block;
            margin-top: 100%;
        }

        & > a {
            border: 2px solid $grey-darker;
            border-radius: 100%;
            padding: 15px;
            position: absolute;

            &:hover {
                background-color: $white;
                z-index: 5;
            }

            span {
                background-color: $white;
                color: $grey-darker;
                font: 700 24px / 32px $family-highlight;
                position: relative;
                top: calc(50% - 32px);

                @include tablet-only() {
                    font-size: 18px;
                    line-height: 20px;
                    top: calc(50% - 20px);
                }
            }
        }

        &--digital-product-development {
            height: 62.4%;
            right: 0;
            text-align: right;
            top: 2.9%;
            width: 62.4%;

            &:hover {
                background: url(../img/pattern-raspberry.png) 0 0 / 40% repeat;
                border-color: $raspberry;
            }

            span {
                box-shadow: -5px 0 0 $white;
            }
        }

        &--strategy-and-research {
            height: 48.3%;
            left: 0;
            top: 7.8%;
            width: 48.3%;

            &:hover {
                background: url(../img/pattern-pearl.png) 0 0 / 50% repeat;
                border-color: $pearl;
            }

            span {
                box-shadow: 5px 0 0 $white;
            }
        }

        &--ux-research-and-design {
            bottom: 2.9%;
            height: 54.2%;
            left: 13.6%;
            text-align: center;
            width: 54.2%;

            &:hover {
                background: url(../img/pattern-tangerine.png) 0 0 / 45% repeat;
                border-color: $tangerine;
            }

            span {
                box-shadow: 5px 0 0 $white, -5px 0 0 $white;
            }
        }
    }
}