@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
.services {
    &__animated {
        display: inline-block;
        max-width: 500px;
        position: sticky;
        right: 0;
        top: 100px;
        transition: .5s all ease-out;
        transform-origin: center center;
        width: 100%;

        &.is-rotated-0 {
            & > div.services__animated--strategy-and-research {
                border-color: $pearl;
                z-index: 5;

                &::after {
                    background: url(../../img/pattern-pearl.png) 0 0 / 50% repeat $white;
                    opacity: 1;
                }
            }
        }

        &.is-rotated-120 {
            transform: rotate(120deg);

            & > div.services__animated--ux-research-and-design {
                border-color: $tangerine;
                z-index: 5;

                &::after {
                    background: url(../../img/pattern-tangerine.png) 0 0 / 45% repeat $white;
                    opacity: 1;
                }
            }
        }

        &.is-rotated-240 {
            transform: rotate(240deg);

            & > div.services__animated--digital-product-development {
                border-color: $raspberry;
                z-index: 5;

                &::after {
                    background: url(../../img/pattern-raspberry.png) 0 0 / 40% repeat $white;
                    opacity: 1;
                }
            }
        }

        &::before {
            content: '';
            display: block;
            margin-top: 100%;
        }

        & > div {
            border: 2px solid $grey-darker;
            border-radius: 100%;
            padding: 15px;
            position: absolute;

            &::after {
                border-radius: 100%;
                content: '';
                display: block;
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                transition: .5s all ease-out;
                width: 100%;
            }
        }

        &--digital-product-development {
            height: 62.4%;
            right: 0;
            top: 2.9%;
            width: 62.4%;
        }

        &--strategy-and-research {
            height: 48.3%;
            left: 0;
            top: 7.8%;
            width: 48.3%;
        }

        &--ux-research-and-design {
            bottom: 2.9%;
            height: 54.2%;
            left: 13.6%;
            width: 54.2%;
        }
    }

    &__outcome {
        background-color: $grey-lighter;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba($black, .1);
        display: table;
        font-size: 12px;
        margin-bottom: 60px;
        padding: 5px 10px 0;

        & > span {
            background-color: $white;
            border-radius: 5px;
            display: inline-block;
            font-size: 14px;
            margin-bottom: 5px;
            padding: 5px 10px;
        }
    }

    &__pointer {
        align-items: center;
        animation: point 1s 1s infinite;
        display: inline-flex;
        font-size: 28px;
        height: 34px;
        vertical-align: middle;
    }

    &__service {
        &__alert {
            align-items: center;
            background-color: rgba($raspberry, .4);
            border: 1px solid $raspberry;
            border-radius: 15px;
            display: flex;
            font-size: 14px;
            padding: 3px 10px;
            position: relative;

            &:after {
                animation: pulse 2s linear forwards infinite;
                background-color: $raspberry;
                border-radius: 100%;
                content: '';
                display: inline-block;
                height: 7px;
                position: absolute;
                width: 7px;
                z-index: 5;
            }

            &:before {
                background-color: $raspberry;
                border-radius: 100%;
                content: '';
                display: inline-block;
                height: 7px;
                margin-right: 7px;
                position: relative;
                width: 7px;
                z-index: 10;
            }
        }

        &__benefits {
            border-radius: 15px;
            color: $white;
            padding: 15px;

            &.is-cobalt {
                background-color: $cobalt;
            }

            &.is-pearl {
                background-color: $pearl;
            }

            &.is-raspberry {
                background-color: $raspberry;
            }

            &.is-tangerine {
                background-color: $tangerine;
            }

            &__badge {
                background-color: $white;
                border-radius: 5px;
                color: $grey-darker;
                display: table;
                font-size: 12px;
                font-weight: 700;
                margin-bottom: 10px;
                padding: 2px 5px;
            }

            &__list {
                li {
                    align-items: center;
                    display: flex;
                    font-size: 18px;

                    &:before {
                        content: '↪';
                        font-size: 24px;
                        margin-right: 5px;
                    }
                }
            }
        }

        &__plan {
            box-shadow: 1px 1px 3px 0 rgba($black, .15);
            border: 1px solid $grey-light;
            border-radius: 5px;
            padding: 30px;

            &__items {
                li {
                    align-items: center;
                    display: flex;
                    font-size: 14px;

                    &:before {
                        content: '↪';
                        font-size: 24px;
                        margin-right: 10px;
                    }

                    &.is-empty {
                        &:before {
                            content: '';
                            height: 36px;
                        }
                    }
                }

                &__title {
                    color: $grey-darker;
                    font-family: $family-highlight;
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 15px;
                }
            }

            &__price {
                color: $grey-darker;
                font-family: $family-highlight;
                font-size: 32px;
                margin-bottom: 30px;
            }

            &__title {
                color: $grey-darker;
                font-family: $family-highlight;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 5px;
            }
        }

        &__price {
            display: inline-flex;
            font-family: $family-highlight;
            font-size: 24px;
            line-height: 1;
            margin-right: 10px;
            text-decoration: line-through;
        }

        &__price-promo {
            display: inline-flex;
            font-family: $family-highlight;
            font-size: 36px;
            font-weight: 700;
            line-height: 1;
        }
    }

    &__static {
        display: inline-block;
        left: 50%;
        max-width: 500px;
        position: relative;
        transform: translateX(-50%);
        width: 100%;

        &::before {
            content: '';
            display: block;
            margin-top: 100%;
        }

        & > a {
            border: 2px solid $grey-darker;
            border-radius: 100%;
            padding: 15px;
            position: absolute;

            &:hover {
                background-color: $white;
                z-index: 5;
            }

            span {
                background-color: $white;
                color: $grey-darker;
                font: 700 24px / 32px $family-highlight;
                position: relative;
                top: calc(50% - 32px);

                @include tablet-only() {
                    font-size: 18px;
                    line-height: 20px;
                    top: calc(50% - 20px);
                }
            }
        }

        &--digital-product-development {
            height: 62.4%;
            right: 0;
            text-align: right;
            top: 2.9%;
            width: 62.4%;

            &:hover {
                background: url(../../img/pattern-raspberry.png) 0 0 / 40% repeat;
                border-color: $raspberry;
            }

            span {
                box-shadow: -5px 0 0 $white;
            }
        }

        &--strategy-and-research {
            height: 48.3%;
            left: 0;
            top: 7.8%;
            width: 48.3%;

            &:hover {
                background: url(../../img/pattern-pearl.png) 0 0 / 50% repeat;
                border-color: $pearl;
            }

            span {
                box-shadow: 5px 0 0 $white;
            }
        }

        &--ux-research-and-design {
            bottom: 2.9%;
            height: 54.2%;
            left: 13.6%;
            text-align: center;
            width: 54.2%;

            &:hover {
                background: url(../../img/pattern-tangerine.png) 0 0 / 45% repeat;
                border-color: $tangerine;
            }

            span {
                box-shadow: 5px 0 0 $white, -5px 0 0 $white;
            }
        }
    }
}

@keyframes point {
    0%, 100%   {
        margin-left: 0;
    }
    50% {
        margin-left: 10px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1
    }

    100% {
        transform: scale(2.5);
        opacity: 0
    }
}
