.solution {
    &__intro {
        color: $grey-darker;
        font-size: 16px;
        font-style: italic;
        margin-bottom: 45px;
        text-align: center;

        @include tablet() {
            margin-bottom: 60px;
        }

        @include desktop() {
            font-size: 20px;
            margin: -30px 0 90px;
        }
    }

    &__nav {
        font-size: 0;

        .is-dark > & {
            .solution__nav__items > a {
                background-color: $white;
            }
        }

        &--sales-operations {
            .solution__nav__items > a {
                border-color: $lavender;

                &:hover {
                    background-color: lighten($lavender, 30%);
                }
            }

            .solution__nav__title {
                color: $lavender;

                &::before {
                    background-position: 0 0;
                }
            }
        }

        &--productivity {
            .solution__nav__items > a {
                border-color: $coral;

                &:hover {
                    background-color: lighten($coral, 15%);
                }
            }

            .solution__nav__title {
                color: $coral;

                &::before {
                    background-position: -50px 0;
                }
            }
        }

        &--web-mobile {
            .solution__nav__items > a {
                border-color: $olive;

                &:hover {
                    background-color: lighten($olive, 20%);
                }
            }

            .solution__nav__title {
                color: $olive;

                &::before {
                    background-position: -100px 0;
                }
            }
        }

        &__items {
            & > a {
                background-color: $grey-lighter;
                border-left: 3px solid $grey-light;
                color: $grey-text;
                display: inline-block;
                font: 600 14px / 35px $family-highlight;
                height: 35px;
                margin: 10px 10px 0 0;
                padding: 0 10px;
                transition: .4s all ease-in-out;

                &:hover {
                    background-color: $grey;
                    color: $white;
                }

                @include desktop() {
                    font-size: 18px;
                    height: 50px;
                    line-height: 50px;
                    margin: 15px 15px 0 0;
                    padding: 0 15px;
                }
            }
        }

        &__title {
            color: $grey-darker;
            font: 700 20px / 50px $family-highlight;
            margin-bottom: 15px;

            @include tablet() {
                font-size: 24px;
                margin-bottom: 30px;
            }

            @include desktop() {
                font-size: 27px;
                margin-bottom: 60px;
            }

            &::before {
                background-image: url(../img/solution-icons.png);
                background-repeat: no-repeat;
                content: '';
                display: inline-block;
                height: 50px;
                margin: -10px 15px 0 0;
                vertical-align: middle;
                width: 50px;
            }
        }
    }
}
