.testimonial {
    background: url(../img/testimonial-bg.jpg) center center / cover no-repeat;
    color: $white;
    margin: -30px -15px;
    padding: 60px 15px;
    text-align: center;

    @include tablet() {
        margin: -60px -15px;
    }

    @include desktop() {
        background: url(../img/testimonial-bg-md.jpg) center center / cover no-repeat;
        margin: -90px -15px;
    }

    @include widescreen() {
        background: url(../img/testimonial-bg-lg.jpg) center center / cover no-repeat;
    }

    &__author {
        font-style: normal;
        font-weight: 700;
    }

    &__content {
        border: none;
        font-size: 16px;
        margin: 0;
        text-align: left;

        @include tablet() {
            float: right;
            width: calc(100% - 155px);
        }
    }

    &__picture {
        margin-bottom: 30px;

        @include tablet() {
            float: left;
            margin-bottom: 0;
            margin-right: 30px;

            &.is-right-aligned {
                float: right;
                margin-left: 30px;
                margin-right: 0;
            }
        }
    }
}