body.project--kompozit-digitalis-munkalap-szoftver,
body.project--kompozit-field-service-management-app {
    .hero {
        align-items: center;
        background-color: #4f46e5;
        justify-content: center;

        &::after {
            background: url(../media/projects/kompozit-hero-background.png) 100% 100% / contain no-repeat;
            content: '';
            display: block;
            height: 125%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .list-hero {
        color: #4f46e5;
        text-shadow: 5px 5px 0 $grey-light;
    }

    .project {
        &__contact {
            background-color: #4f46e5;
        }

        &__hero {
            display: none;
            height: 75%;
            position: absolute;
            right: 20%;
            top: 55%;
            transform: translateY(-50%);

            @include tablet() {
                display: block;
            }
        }

        &__intro {
            padding: 0 15px;
            text-align: left;

            @include tablet() {
                max-width: 50%;
            }
        }

        &__summary {
            background-image: url(../media/projects/kompozit-summary-background.jpg);
        }

        &__text-emphasis {
            color: #4f46e5;
        }

        &__title {
            margin-top: 0;
            padding: 0 15px;
            text-align: left;
        }
    }
}

.project-list__featured--kompozit {
    background: radial-gradient(at 10% 100%, #4f46e5 0%, #6059e0 30%, #4f46e5 100%);
    padding-bottom: 0;
}