@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
body.project--pestcast {
    .hero {
        align-items: center;
        background: radial-gradient(at 90% 100%, #9ae6b4 0%, #95c8a1 90%, #95c8a1 100%);
        background-color: #d7d2ca;
        justify-content: flex-start;

        &::after {
            background: url(../../media/projects/pestcast-hero-background.png) 50% 95% / contain no-repeat;
            content: '';
            display: block;
            height: 100%;
            max-width: 360px;
            left: 50%;
            position: absolute;
            top: 0;
            transform: translateX(-50%);
            width: 100%;

            @include tablet() {
                background-image: url(../../media/projects/pestcast-hero-background-768w.png);
                background-size: auto;
                max-width: none;
            }

            @include desktop() {
                background-image: url(../../media/projects/pestcast-hero-background-1000w.png);
                background-position: 50%  90%;
            }

            @include fullhd() {
                background-image: url(../../media/projects/pestcast-hero-background-1384w.png);
            }
        }
    }

    .list-hero {
        color: #95c8a1;
        text-shadow: 5px 5px 0 $grey-light;
    }

    .project {
        &__contact {
            background-color: #95c8a1;
        }

        &__summary {
            background-image: url(../../media/projects/pestcast-summary-background.jpg);
        }

        &__text-emphasis {
            color: #95c8a1;
        }
    }
}