.btn {
    background-color: $grey-darker;
    border: none;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font: 400 14px / 1 $family-highlight;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: .2s all ease-in-out;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: lighten($grey-darker, 2.5%);
        color: $white;
    }

    // Colors
    &.is-cobalt {
        background-color: $cobalt;

        &:hover {
            background-color: lighten($cobalt, 2.5%);
        }
    }

    &.is-pearl {
        background-color: $pearl;

        &:hover {
            background-color: lighten($pearl, 2.5%);
        }
    }

    &.is-raspberry {
        background-color: $raspberry;

        &:hover {
            background-color: lighten($raspberry, 2.5%);
        }
    }

    &.is-tangerine {
        background-color: $tangerine;

        &:hover {
            background-color: lighten($tangerine, 2.5%);
        }
    }

    &.is-white {
        background-color: darken($white, 2.5%);
        color: $cobalt;

        &:hover {
            background-color: $white;
            color: $cobalt;
        }
    }

    // Disabled
    &.is-disabled {
        cursor: not-allowed;
        opacity: .75;
        pointer-events: none;
    }

    // Sizes
    &.is-large {
        font-size: 18px;
        padding: 13px 15px;
    }
}
