.face {
    background-color: $grey-lighter;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    display: block;
    height: 150px;
    margin: 0 auto 15px;
    width: 150px;

    &--1 {
        background-image: url(../img/face-1.png);
    }

    &--2 {
        background-image: url(../img/face-2.png);
    }

    &--3 {
        background-image: url(../img/face-3.png);
    }

    &--4 {
        background-image: url(../img/face-4.png);
    }

    &--5 {
        background-image: url(../img/face-5.png);
    }

    &.is-cobalt {
        background-color: $cobalt;
    }

    &.is-pearl {
        background-color: $pearl;
    }

    &.is-raspberry {
        background-color: $raspberry;
    }

    &.is-tangerine {
        background-color: $tangerine;
    }
}