.form-checkbox {
    display: inline-block;
    height: 16px;
    position: relative;
    vertical-align: -2px;
    width: 16px;

    & > span {
        border: 1px solid $grey-dark;
        border-radius: 3px;
        box-shadow: inset 0 1px 1px rgba($black, 0.075);
        display: inline-block;
        height: 16px;
        left: 0;
        position: absolute;
        top: 0;
        width: 16px;
        z-index: 5;
    }

    input[type="checkbox"] {
        height: 16px;
        left: 0;
        position: absolute;
        top: 0;
        visibility: hidden;
        width: 16px;
        z-index: 10;

        &:checked + span {
            &::after {
                background-color: $grey-dark;
                border-radius: 100%;
                content: '';
                display: block;
                height: 6px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 6px;
            }
        }
    }
}

.form-control {
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba($black, 0.075);
    color: $grey-darker;
    display: block;
    font: 16px / 50px $family-highlight;
    height: 50px;
    padding: 0 10px;
    transition: .15s all ease-in-out;
    width: 100%;

    &:focus {
        border-color: $pearl;
        box-shadow: inset 0 1px 1px rgba($black, 0.075), 0 0 3px $pearl;
        outline: none;
    }

    @include placeholder() {
        color: $grey-dark;
    }
}

.form-label {
    a {
        text-decoration: underline;
    }
}

textarea.form-control {
    height: auto;
    line-height: 1.5;
    padding: 10px;
    resize: vertical;
}

.form-group {
    margin-bottom: 10px;

    &.has-error {
        .form-checkbox,
        .form-control {
            border-color: $coral;
            box-shadow: inset 0 1px 1px rgba($black, 0.075), 0 0 3px $coral;
        }

        .form-label {
            color: $coral;

            a {
                color: $coral;
            }
        }
    }
}
