.heading {
    color: $grey-darker;
    font: 700 20px / 1 $family-highlight;
    margin: 0 auto 30px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 90%;

    @include tablet() {
        font-size: 24px;
        margin-bottom: 45px;
        width: 80%;
        max-width: 720px;
    }

    @include desktop() {
        font-size: 30px;
        margin-bottom: 90px;
    }

    &::after {
        background-color: $grey-darker;
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 180px;
    }
}

.heading-1 {
    color: $grey-darker;
    font: 700 24px / 1 $family-highlight;
    margin-bottom: 15px;

    @include tablet() {
        font-size: 36px;
        margin-bottom: 30px;
    }

    @include desktop() {
        font-size: 48px;
        margin-bottom: 60px;
    }
}

.heading-2 {
    color: $grey-darker;
    font: 700 20px / 1.5 $family-highlight;
    margin-bottom: 15px;

    @include tablet() {
        font-size: 24px;
        margin-bottom: 30px;
    }

    @include desktop() {
        font-size: 27px;
        margin-bottom: 60px;
    }
}

.heading-3 {
    color: $grey-darker;
    font: 600 20px / 1.5 $family-highlight;
    margin-bottom: 15px;
}

.heading-4 {
    color: $grey-darker;
    font: 600 16px / 1.5 $family-highlight;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.heading-5 {
    color: $grey-darker;
    font: 500 16px / 1.5 $family-highlight;
    margin-bottom: 30px;
}

.heading,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5 {
    &.is-white {
        color: $white;

        a {
            color: $white;

            &:hover {
                color: $white;
            }
        }
    }

    a {
        color: $grey-darker;

        &:hover {
            color: lighten($grey-darker, 10%);
        }
    }
}

.hero-heading {
    color: $grey-darker;
    font: 700 24px / 1 $family-highlight;
    margin: 0 auto 45px;

    @include tablet() {
        font-size: 42px;
        margin-bottom: 60px;
    }

    @include desktop() {
        font-size: 60px;
        margin-bottom: 90px;
    }

    small {
        display: block;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 5px;

        @include tablet() {
            font-size: 28px;
        }

        @include desktop() {
            font-size: 36px;
            margin-bottom: 15px;
        }
    }
}

.hero-heading,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5 {
    strong {
        &.is-black {
            color: $grey-darker;
        }
        &.is-cobalt {
            color: $cobalt;
        }

        &.is-pearl {
            color: $pearl;
        }

        &.is-raspberry {
            color: $raspberry;
        }

        &.is-tangerine {
            color: $tangerine;
        }

        &.is-white {
            color: $white;
        }
    }
}
