.list {
    margin: 5px 0 15px;

    &:last-child {
        margin-bottom: 0;
    }

    li {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.has-bullets {
        li {
            overflow: hidden;
            padding-left: 25px;
            position: relative;

            &::before {
                background: url(../img/bullets.png) 0 0 no-repeat;
                content: '';
                display: block;
                float: left;
                height: 14px;
                left: 0;
                position: absolute;
                top: 5px;
                width: 10px;
            }
        }

        &.is-white {
            li:before {
                background-position: 0 -14px;
            }
        }
    }

    &.has-discs {
        li {
            margin-bottom: 5px;
            overflow: hidden;
            padding-left: 15px;
            position: relative;

            &::before {
                background-color: $grey-darker;
                border-radius: 100%;
                content: '';
                display: block;
                float: left;
                height: 5px;
                left: 0;
                position: absolute;
                top: 9px;
                width: 5px;
            }
        }

        &.is-white {
            li:before {
                background-color: $white;
            }
        }
    }

    @include tablet() {
        &.has-two-columns {
            -webkit-columns: 2;
            columns: 2;
        }
    }
}

.list-hero {
    color: $grey-darker;
    font-size: 56px;
    font-family: $family-highlight;
    font-weight: 700;
    line-height: .85;
    text-shadow: 5px 5px 0 $grey-light;

    &.is-cobalt {
        color: $cobalt;
    }

    &.is-pearl {
        color: $pearl;
    }

    &.is-raspberry {
        color: $raspberry;
    }

    &.is-tangerine {
        color: $tangerine;
    }
}
