@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
.panel {
    color: $white;
    padding: 30px 0 15px;
    position: relative;

    @include desktop() {
        padding: 60px 0 30px;
    }

    &::before {
        content: '';
        display: block;
        height: 100%;
        left: 0;
        margin: 0 -15px;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: 5;
    }

    &.is-cobalt::before {
        background-color: $cobalt;
    }

    &.is-pearl::before {
        background-color: $pearl;
    }

    &.is-raspberry::before {
        background-color: $raspberry;
    }

    &.is-tangerine::before {
        background-color: $tangerine;
    }

    .container {
        position: relative;
        z-index: 10;
    }

    .is-offset-top {
        margin-top: -90px;

        @include desktop() {
            margin-top: -150px;
        }
    }
}