@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
.section {
    background-color: $white;
    padding: 30px 15px;
    position: relative;
    z-index: 10;

    @include tablet() {
        padding: 60px 15px;
    }

    @include desktop() {
        padding: 90px 15px;
    }

    &.is-dark {
        background-color: $grey-lighter;
    }

    &.is-cobalt {
        background-color: $cobalt;
        color: $white;
    }

    &.is-pearl {
        background-color: $pearl;
        color: $white;
    }

    &.is-raspberry {
        background-color: $raspberry;
        color: $white;
    }

    &.is-tangerine {
        background-color: $tangerine;
        color: $white;
    }
}
