.social-icons {
    display: flex;
    justify-content: center;

    &.is-small {
        .icon {
            height: 26px;
            width: 26px;

            &--facebook {
                &::after {
                    background-position: 0 -21px;
                    height: 15px;
                    width: 9px;
                }
            }

            &--github {
                &::after {
                    background-position: -75px -21px;
                    height: 15px;
                    width: 14px;
                }
            }

            &--instagram {
                &::after {
                    background-position: -43px -21px;
                    height: 15px;
                    width: 14px;
                }
            }

            &--linkedin {
                &::after {
                    background-position: -26px -21px;
                    height: 15px;
                    width: 14px;
                }
            }

            &--medium {
                &::after {
                    background-position: -59px -21px;
                    height: 15px;
                    width: 15px;
                }
            }

            &--twitter {
                &::after {
                    background-position: -10px -20px;
                    height: 15px;
                    width: 14px;
                }
            }
        }
    }

    .icon {
        align-items: center;
        background-color: $grey-darker;
        border-radius: 30px;
        display: flex;
        height: 35px;
        justify-content: center;
        margin: 0 5px;
        transition: .2s all ease-in-out;
        width: 35px;

        &::after {
            background-image: url(../img/social-icons.png?v3);
            background-repeat: no-repeat;
            content: '';
            display: block;
            height: 21px;
            width: 19px;
        }

        &:hover {
            background-color: $pearl;
        }

        &--facebook {
            &:hover {
                background-color: #3b5998;
            }

            &::after {
                background-position: 0 0;
                width: 11px;
            }
        }

        &--github {
            &:hover {
                background-color: #6cc644;
            }

            &::after {
                background-position: -98px 0;
            }
        }

        &--instagram {
            &:hover {
                background-color: #e1306c;
            }

            &::after {
                background-position: -55px 0;
            }
        }

        &--linkedin {
            &:hover {
                background-color: #0077b5;
            }

            &::after {
                background-position: -33px 0;
            }
        }

        &--medium {
            &:hover {
                background-color: #6ed3cf;
            }

            &::after {
                background-position: -77px 0;
            }
        }

        &--twitter {
            &:hover {
                background-color: #1da1f2;
            }

            &::after {
                background-position: -12px 0;
            }
        }
    }
}
